body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-width: 100%;
    
}

.leftpart {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    background-image: linear-gradient(to bottom right, green, yellow);
    color: white;
    text-align: center;   
}

.title-container {
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    -webkit-text-stroke: 3px #000;
}

.welcome_message {
    max-height: fit-content;
    font-size: 70;
    margin: 0;
    color: hsl(0, 0%, 100%);
}

.img-wrapper {
    position: absolute;
    min-width: 100%;
    z-index: 0;
}

img {
    margin: 0 auto;
}

.newUserLink {
    color: white;
    text-decoration: none;
    
}

.rightpart {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    
}

.formcont {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.inputs{
    background-color: rgba(148, 148, 148, 0.082);
    transition: 0.3s;
}

.inputs:hover{
    opacity: 0.5;
    background-color:rgba(255, 100, 100, 0.322);
    border: transparent solid 2px;
}

textarea.inputs:hover {
    border-width: 1px;
}

button {
    background-color: rgba(255, 255, 255, 0.877);
    border-color: #000;
    border-radius: 15px;
    font-size: 30;
    transition: 0.4s;
    margin: 0 5px 20px;
}

button:hover {
    /* opacity: 0.6; */
    cursor: pointer;
    background-color: transparent;
    border: rgba(0, 81, 255, 0.835) solid 2px;
}

